<a routerLink = "/home" class="m-2" appAppHighlight>Home </a>
<a routerLink = "/about" class="m-2">About</a>
<a routerLink = "/products" class="m-2">Products</a>
<a routerLink = "/login-form" class="m-2">Login</a>
<a routerLink = "/signup-form" class="m-2">Sign Up</a>
<a routerLink = "/course" class="m-2">Courses</a>
<a routerLink = "/add-course" class="m-2">Add Courses</a>

<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" routerlink="/home-dashboard" data-toggle="tab" href="#home-dashboard" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" routerlink="/profile" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">       
    </div>
  </div>