<app-navbar></app-navbar>


<router-outlet></router-outlet>






<!--
<p [class.blueText]="true">{{title}}</p>

<p [ngClass] = "['redText','size20']">Welcome </p>

<p [style.color] = "titleStyle">Style Binding</p>

<p [style.color] = "titleStyle_exist ? 'red':'green'">Style Binding</p>

<p [ngStyle] = "TitleStyles">ng Style Binding</p>

<p [ngStyle] = "{'color':'purple',
'font-size':'20px',
'font-weight':'bold'}">ng Style Binding 2</p>

<button class="btn btn-primary" (click) = "btnClicked()" [disabled] = "isDisabled">Click me</button>

<img [src] = "imgPath">

-->




