
<div class="container">
<table class="table table-striped table-bordered">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>View</th>
        <th>Action</th>
        
    </thead>

    <tbody>
        <tr *ngFor = "let mobile of mobiles">
            <td>{{mobile.sku}}</td>
            <td>{{mobile.name}}</td>
            <td>{{mobile.price}}</td>
            <td><a routerLink="../mobile-details/{{mobile.sku}}">View</a></td>
            <td><button (click) = "showDetails(mobile)">Edit</button></td>
        </tr></tbody>
</table>


<!--<app-mobile-details (Valuechange) = "displayCounter($event)"></app-mobile-details>-->

<app-mobile-details [mobiles] = "selectedMobile" (mobileChange) = "updated($event)"></app-mobile-details>
</div>