<p>home works!</p>


<form action="">
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
<div class="form-group"><label for=""></label><input type="text" formControlName="" class="form-control"></div>
</form>


